<h3 class="mb-2 mt-5">Instrument Preferences</h3>
<p>Specify your playing preferences for each instrument you have auditioned for.</p>

{% if current_user.instruments != [] %}
<ul>
    {% for instrument in current_user.instruments %}
    <div class="card my-3">
        <h5 class="card-header">{{instrument.name|title}} (Level = {{instrument.level}})</h5>
        <div class="card-body">
            <!-- Seat Preferences --->
            <h5>Seat Preferences</h5>
            {% if instrument.has_seats() %}
            <ul class="list-group list-group-horizontal-md">
                {% for attr in instrument.get_instrument_attributes() if attr.key.startswith('seat') %}
                <li class="list-group-item">
                    <form method="post"
                        action='{{ url_for("update_instrument_preferences",instrument_id=instrument.id) }}'>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="attr" value="{{ attr.key }}">
                        <input class="form-check-input me-1" type="checkbox" name="{{attr.key}}" id="{{attr.key}}"
                            {{'checked' if instrument[attr.key] else '' }} onchange="this.form.submit()">
                        <label class="form-check-label" for="{{attr.key}}">{{ attr.key[5:]|replace("_", " ")|title
                            }}</label>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>N/A</p>
            {% endif %}
            <!-- Doubling --->
            <h5 class="mt-3">Doubling</h5>
            {% if instrument.has_doublings() %}
            <ul class="list-group list-group-horizontal-md">
                {% for attr in instrument.get_instrument_attributes() if attr.key.startswith('dbl') %}
                <li class="list-group-item">
                    <form method="post"
                        action='{{ url_for("update_instrument_preferences",instrument_id=instrument.id) }}'>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="attr" value="{{ attr.key }}">
                        <input class="form-check-input me-1" type="checkbox" name="{{attr.key}}" id="{{attr.key}}"
                            {{'checked' if instrument[attr.key] else '' }} onchange="this.form.submit()">
                        <label class="form-check-label" for="{{attr.key}}">{{ attr.key[4:]|replace("_", " ")|title
                            }}</label>
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>N/A</p>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</ul>
{% else %}
<p>It looks like you haven't auditioned for any instruments yet. You can book an audition slot from the Auditions tab.
</p>
{% endif %}