:root {
  --black: #0D1A1A;
  --dark-green: #183E3C;
  --red: #B73A2A;
  --light-green: #6B9E84;
  --cream: #EBD5BE;
  --white: #FFFFFF;

  --ai-dark-green: #0e2929;
  --ai-green-gray: #4c5d5d;
  --ai-gray: #738383;
  --ai-light-green: #7cab94;
  --ai-red: #c44f38;
}

h1 {
  color: var(--red);
  text-align:center;
  padding: 10px
}

h3 {
  color: var(--dark-green);
}

.backgroundFilled {
  background-color: var(--ai-dark-green);
  color: var(--white);
}

.backgroundFilled a {
    color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

i {
  color: var(--white);
}

strong {
  color: var(--dark-green);
}

p {
  margin: 0;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.event_title {
  font-weight: bold;
  margin-bottom: 5px;
}

.event_details {
  flex: 1;
  margin-right: 10px;
}

.event_button {
  flex-shrink: 0;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .event {
    flex-direction: column;
    align-items: flex-start;
  }

  .event_details {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .event_button {
    align-self: flex-start;
  }
}

.instrument_box {
  display: flex;
  justify-content: space-between;
}

.instrument-heading {
  cursor: pointer;
}

.blocked_button {
  cursor: not-allowed !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  top: -50%;
  right: 100%;
}

@media (min-width: 600px) {
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}