<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name='keywords' content="Big, Band, Jazz">
    <meta name='description'
          content="A Cambridge Music Society bringing Jazz Musicians Together">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>
      {% block title %}
        Big Band Roulette
      {% endblock title %}
    </title>
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
    <div class="flex-grow-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href='/'>
          <img src="{{ url_for('static',filename='images/logo_colour.svg') }}"
               height="50"
               width="50"
               alt="">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href='{{ url_for("auditions") }}'>Auditions</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href='{{ url_for("upcoming") }}'>Events</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href='{{ url_for("profile") }}'>Profile</a>
              </li>
              {% if current_user.has_role("admin") %}
                <li class="nav-item active">
                  <a class="nav-link" href='{{ url_for("adminInterface") }}'>Admin</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href='{{ url_for("security.login") }}'>
                {% if current_user.is_authenticated %}
                  {{ current_user.email }}
                {% else %}
                  Login
                {% endif %}
              </a>
            </li>
            {% if current_user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href='{{ url_for("security.logout") }}'>Logout</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="container bg-image">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    {% block scripts %}
    {% endblock scripts %}
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 backgroundFilled mt-3">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase">Big Band Roulette</h5>
            <p>Portal designed by Carl Ashworth.</p>
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Contact</h5>
            <p>
              <a href="mailto:mds@bigbandroulette.com?subject=BigBandRoulette&body=Dear%20Big%20Band%20Roulette,">mds@bigbandroulette.com</a>
            </p>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <p>
              <a href="https://www.facebook.com/bigbandroulette" class="mr-2 ml-2"><i class="fa fa-facebook"></i></a>
              <a href="" class="mr-2 ml-2"><i class="fa fa-youtube"></i></a>
              <a href="https://www.instagram.com/bigbandroulette/" class="mr-2 ml-2"><i class="fa fa-instagram"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">Copyright © Big Band Roulette 2023</div>
    </footer>
  </body>
</html>
