{% extends "base.html" %}
{% block content %}
  <h1>Profile Page</h1>
  {% if current_user.is_authenticated %}
    <!--- Notifications-->
    <h3 class="mb-0 mt-5">Notification Preferences</h3>
    <p>Select when you will recieve email notifications from the portal.</p>
    <br>
    <div class="list-group mb-5 shadow">
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <strong class="mb-0">New Event Notications</strong>
            <p class="text-muted mb-0">Recieve a notification whenever we announce a new event.</p>
          </div>
          <div class="col-auto">
            <form method="post" action='{{ url_for("toggle_notifications",user_id=current_user.id) }}'>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="form_type" value="notify_about_new_gigs">
              <div class="form-check form-switch">
                <input type="checkbox" role="switch" class="form-check-input" name="notify_about_new_gigs" id="notify_about_new_gigs" {{ 'checked' if current_user.notify_about_new_gigs else '' }} onchange="this.form.submit()">
                <label class="form-check-label" for="notify_about_new_gigs"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <strong class="mb-0">New Audition Slots Notications</strong>
            <p class="text-muted mb-0">Recieve a notification whenever we open new audition slots.</p>
          </div>
          <div class="col-auto">
            <form method="post" action='{{ url_for("toggle_notifications",user_id=current_user.id) }}'>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="form_type" value="notify_about_auditions">
              <div class="form-check form-switch">
                <input type="checkbox" role="switch" class="form-check-input" name="notify_about_auditions" id="notify_about_auditions" {{ 'checked' if current_user.notify_about_auditions else '' }} onchange="this.form.submit()">
                <label class="form-check-label" for="notify_about_auditions"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <strong class="mb-0">Drop-Out Notications</strong>
            <p class="text-muted mb-0">Recieve a notification whenever we open new audition slots.</p>
          </div>
          <div class="col-auto">
            <form method="post" action='{{ url_for("toggle_notifications",user_id=current_user.id) }}'>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input type="hidden" name="form_type" value="notify_about_drop_outs">
              <div class="form-check form-switch">
                <input type="checkbox" role="switch" class="form-check-input" name="notify_about_drop_outs" id="notify_about_drop_outs" {{ 'checked' if current_user.notify_about_drop_outs else '' }} onchange="this.form.submit()">
                <label class="form-check-label" for="notify_about_drop_outs"></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <!-- Themes --->
    <h3 class="mb-0 mt-5">Theme Suggestions</h3>
    <p>Use this free text area to suggest themes and setlist ideas that you would like to see us play.</p>
    <p>
      If we go for a theme that is similar to your suggestion, you will be weighted more favourably to be selected for that band. </p>
    <br>
    <form method="post" action='{{ url_for("update_theme_suggestions", user_id=current_user.id)}}'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
        <textarea class="form-control mb-4" id="theme_suggestions" name="theme_suggestions" rows="3">{{ current_user.theme_suggestions }}</textarea>
      </div>
      <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
      </div>
    </form>
    <h3>Details:</h3>
    <ul>
      <li>
        Password:
        <a href='{{ url_for("security.change_password") }}'>click here to change password</a>
      </li>
      <li>
        Email:
        <p>{{ current_user.email }}</p>
      </li>
      <!-- Add more list items as needed -->
    </ul>
    <h3>Roles:</h3>
    <ul>
      {% for role in current_user.band_roles %}<li class="text-capitalize">{{ role.role_type }}</li>{% endfor %}
    </ul>
    <h3>Instruments:</h3>
    {% if current_user.instruments != [] %}
      <ul>
        {% for instrument in current_user.instruments %}
          <li class="dropdown">
            <div class="instrument-heading dropdown-toggle" data-toggle="dropdown">
              <span class="caret text-capitalize">{{ instrument.name }}</span>
            </div>
            <div class="dropdown-menu">
              {% for attr in instrument.get_instrument_attributes() if attr.key != "takes_solos" %}
                <span class="attribute text-capitalize">{{ attr.key |replace('_', ' ') }}:</span>
                <span class="value">{{ instrument[attr.key] }}</span>
                <br>
              {% endfor %}
              Takes Solos: {{ instrument.takes_solos }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You are not currently in the pool for any instruments, please go to auditions.</p>
    {% endif %}
  {% else %}
    Login
  {% endif %}
  <!-- <img src="{{ url_for('static', filename='images/logo_colour.svg') }}" class="image" /> -->
{% endblock content %}
