{% extends "base.html" %}
{% block content %}
  <h1>Profile Page</h1>
  {% if current_user.is_authenticated %}
    <form method="post" action='{{ url_for("toggle_notifications") }}'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="form_type" value="notify_about_new_gigs">
      <p>
        <label for="notify_about_new_gigs">Notify me about new gigs:</label>
        <input type="checkbox" name="notify_about_new_gigs" {{ 'checked' if current_user.notify_about_new_gigs else '' }} onchange="this.form.submit()">
      </p>
    </form>
    <form method="post" action='{{ url_for("toggle_notifications") }}'>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="form_type" value="notify_about_drop_outs">
      <p>
        <label for="notify_about_drop_outs">Notify me about drop-outs:</label>
        <input type="checkbox" name="notify_about_drop_outs" {{ 'checked' if current_user.notify_about_drop_outs else '' }} onchange="this.form.submit()">
      </p>
    </form>
    <ul>
      <li>
        <strong>Password:</strong>
        <a href='{{ url_for("security.change_password") }}'>click here to change password</a>
      </li>
      <hr>
      <li>
        <strong>Email:</strong>
        {{ current_user.email }}
      </li>
      <!-- Add more list items as needed -->
    </ul>
    <hr>
    <strong>Your Roles:</strong>
    <ul>
      {% for role in current_user.band_roles %}<li>{{ role.role_type }}</li>{% endfor %}
    </ul>
    <hr>
    <h3>Your Instruments</h3>
    {% if current_user.instruments != [] %}
      {% for instrument in current_user.instruments %}
        <strong>{{ instrument.name }}</strong>
        {% for attr in instrument.get_instrument_attributes() %}
          <span class="attribute">{{ attr }}:</span>
          <span class="value">{{ instrument[attr] }}</span>
          <br>
        {% endfor %}
        takes solos: {{ instrument.takes_solos }}
        <hr>
      {% endfor %}
    {% else %}
      <p>You are not currently in the pool for any instruments, please go to auditions.</p>
    {% endif %}
  {% else %}
    Login
  {% endif %}
  <!-- <img src="{{ url_for('static', filename='images/logo_colour.svg') }}" class="image" /> -->
{% endblock content %}
